[MASTER]

jobs=1

persistent=no

[MESSAGES CONTROL]

confidence=

# We need 'no-member' to prevent "Module 'cv2' has no 'cvtColor' member", etc.
# We need 'no-name-in-module' to prevent "No name 'packages' in module 'requests'", etc.
disable=C,W,R,no-member,no-name-in-module

enable=

[REPORTS]

score=no

[REFACTORING]


[FORMAT]


[SIMILARITIES]


[SPELLING]


[MISCELLANEOUS]


[TYPECHECK]


[LOGGING]


[BASIC]


[VARIABLES]


[CLASSES]


[DESIGN]


[IMPORTS]


[EXCEPTIONS]


