<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  
  <arg name="sleep_multiplier" default="1"/>
  <arg name="sleep" value="$(find leslie)/resources/launch_prefixes/sleepy.sh $(arg sleep_multiplier)" />
  
  <node name="amcl" pkg="amcl" type="amcl"
        launch-prefix="$(arg sleep) 3">
    <param name="initial_pose_x"            value="-1.38991832733"/>
    <param name="initial_pose_y"            value="-9.28993225098"/>
    <param name="initial_pose_a"            value="2.63545"/>
    
    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="1000"/>


    <!-- set amcl to suscribe to right topics -->
    <param name="global_frame_id"           value="/map"/>
    <param name="odom_frame_id"             value="/odom"/> 
    <param name="base_frame_id"             value="/base_link"/> 
    <remap from="scan"                      to="/base_scan"/>
  </node>
</launch>
