<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  
  <arg name="sleep_multiplier" default="1"/>
  <arg name="sleep" value="$(find leslie)/resources/launch_prefixes/sleepy.sh $(arg sleep_multiplier)" />
  
  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen"
        launch-prefix="$(arg sleep) 2">
    <param name="lm" value="$(find leslie)/resources/voice_control/voice.lm"/>
    <param name="dict" value="$(find leslie)/resources/voice_control/voice.dic"/>
  </node>

</launch>
